*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(images/table.png) no-repeat;
  background-size: cover;

  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

h1 {
  color: goldenrod;
}

button {
  width: 150px;
  padding: 5px 0;
  margin: 4px;

  font-weight: bold;
  background-color: goldenrod;
  color: #016f32;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#message-el {
  font-style: italic;
}
